/// button


.prochainement-container{
    @include flexMid;
    margin-bottom: 100px;

    .button-styled {
        @include flexMid;
        justify-content: space-around;
        margin: 40px;
        width: auto;
        border: 0;
        line-height: 1;
        padding: 10px 20px;
        font-size: 1.6em;
        text-align: center;
        color: $yellow;
        text-shadow: 0.05px 0.05px 0.05px #000;
        border-radius: 10px;
        background-color: $green;
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6);
            
    }

    .prochainement:hover {
        display: none;
    }
}

