/// button

.prochainement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    .button-styled {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
      margin: 40px;
      width: 20%;
      border: 0;
      line-height: 1;
      padding: 10px 20px;
      font-size: 1.4em;
      text-align: center;
      color: #fdcb46;
      text-shadow: 0.05px 0.05px 0.05px #000;
      border-radius: 10px;
      background-color: #579c87;
    }
  
    .dot {
      display: none;
    }
  
    .button-styled:hover {
      .prochainement {
        display: none;
      }
  
      .dot {
        display: block;
      }
    }
  }
