/* Page 1 : general */

.container-details-menu{
    @include flexMid;
    flex-direction: column;
    margin-bottom: 100px;

    .details-menu {
        width: 60%;
        height: 100%;
        margin: 0;
        box-shadow: 0 0 0.5em grey;
    }
}

/* Background cards */

.background-menu-enchantee {
    background: #fcdfdb;
}

.background-menu-chic {
    background: #fff5fe;
}

.background-menu-delice {
    background: #f9f9f9;
}

.background-menu-palette {
    background: #fdfffd;
}

/* nom du restau - titre de la carte */

.titre-carte{
    font-size: 1.5em;
}

.icone-titre{
    font-size: 2em;
    padding-top: 30px;
}

 /*  details des menus de la carte  */ 

.grid-menu {
    @include grid-card;
    padding-left: 60px;
    padding-right: 60px;
}

.grid-tittle {
    @include flexMid;
    @include grid-card;
    text-align: center;
    grid-template-columns: 40% 20% 40%;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.card {
    display: flex;
    justify-content: space-between;
}

.grid-menu-dessert {
    @include grid-card;
    grid-template-columns: 100%;
    padding-left: 60px;
    padding-right: 60px;
}

.style-trait-menu-enchanté {
    fill: $brown;
}

.titre-restau-carte {
    font-size: 1.8em;
    padding-top: 40px;
    padding-bottom: 20px;
}

.titre-carte{
    @include flexMid;
    padding-top: 30px;
    padding-bottom: 20px;
    flex-direction: column;
}

.titre-carte-note-enchante{ 
    font-family: 'devonshireregular';
    color: $brown; 
    font-size: 2em;
}

.entree-plat-dessert-la-note{
    fill: $brown;
}

.tarifs-plats-note-enchantee{
    @include tarifs;
    font-family: 'flow_extbold';
}

.titre-plats-enchante{
    font-family: 'flow_extbold';
    color: $brown;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 2px;
        background-color: $brown;
        transition: transform 250ms;
    }
    
    &:hover {
        
        &::after {
            transform: translateX(-50%) scaleX(1);
        }
        
    }
    
}

.dishes-names-note-enchantee{
    @include dishes;
    font-family: 'caveatregular';
}

.end-carte {
    padding-bottom: 50px;
}

.trait-menu-note {
    fill: $brown;
}

.icone-music-end{
    font-size: 1.5em;
    padding-right: 20px;
}

.end-note-enchante {
    @include flexMid;
    margin: 50px;
}

.style-titre-carte-chic {
    @include titre-chic;
    padding-top: 30px;
    padding-bottom: 10px;
}

.style-titre-carte-delice {
    @include titre-delice;
    font-size: 4em;
    padding-top: 30px;
    padding-bottom: 10px;
}

.entrance-title-chic {
    font-family: 'Roboto bold';
    font-size: 1em;
    color: $orange-chic;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 2px;
        background-color: $orange-chic;
        transition: transform 250ms;
    }
    
    &:hover {
        
        &::after {
            transform: translateX(-50%) scaleX(1);
        }
        
    }
}

.main-title-chic {
    font-family: 'Roboto bold';
    font-size: 1em;
    color: $mauve-chic;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 2px;
        background-color: $mauve-chic;
        transition: transform 250ms;
    }
    
    &:hover {
        
        &::after {
            transform: translateX(-50%) scaleX(1);
        }
        
    }
}

.dessert-title-chic {
    font-family: 'Roboto bold';
    font-size: 1em;
    color: $violet-chic;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 2px;
        background-color: $violet-chic;
        transition: transform 250ms;
    }
    
    &:hover {
        
        &::after {
            transform: translateX(-50%) scaleX(1);
        }
        
    }
}

.dishes-name-chic-entrance{
    @include dishes-names-chic;
    color: $orange-chic;
    
}

.dishes-name-chic-main{
    @include dishes-names-chic;
    color: $mauve-chic;
}

.dishes-name-chic-dessert{
    @include dishes-names-chic;
    color: $violet-chic;
}

.end-card-chic {
    padding-bottom: 50px;
}

.trait-menu-chic-entrance {
    fill: $orange-chic;
}

.trait-menu-chic-main {
    fill: $mauve-chic;
}

.trait-menu-chic-dessert {
    fill: $violet-chic;
}

.trait-effet-mirror {
    transform: scale(-1,1); 
}

.trait-menu-delice-entrance {
    fill: $bleu-electrique-delice;
}

.trait-menu-delice-main {
    fill: $bleu-ocean-delice;
}

.trait-menu-delice-dessert {
    fill: $bleu-clair-delice;
}

.dishes-title-delice {
    font-family: 'caveatregular';
    font-size: 1.6em;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 2px;
        background-color: black;
        transition: transform 250ms;
    }
    
    &:hover {
        
        &::after {
            transform: translateX(-50%) scaleX(1);
        }
        
    }
}

.dishes-name-delice {
    font-family: 'caveatregular';
    font-size: 1.2em;
    line-height: 2em;
}

.trait-menu-palette {
    fill: $orange-chic;
}

.degrade-palette {
    fill: url(linearGradient.svg#degrade)
}

svg.trait-palette stop:nth-child(1) {
    stop-color: #42973c;
  }

svg.trait-palette stop:nth-child(2) {
stop-color: #bfff7e;
}

.style-titre-carte-palette {
    @include degradé-vert;
    font-family: 'kaushan_scriptregular';
    padding-top: 30px;
    padding-bottom: 10px;
}

.dishes-title-palette {
    font-family: 'caveatregular';
    font-size: 1.6em;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 2px;
        background-color: black;
        transition: transform 250ms;
    }
    
    &:hover {
        
        &::after {
            transform: translateX(-50%) scaleX(1);
        }
        
    }
    
}

.dishes-name-palette {
    font-family: 'caveatregular';
    font-size: 1.2em;
    line-height: 2em;
}