
/// mise en forme du texte - fonts
/**
 font-family: 'helpusgiambattistaregular'; 
 font-family: 'flow_extbold'; pour le menu de la note enchantee et les titre des plats de la carte de la note
 font-family: 'flow_extregular'; pour les plats de la carte de la note enchantee 
 */

@font-face {
    font-family: 'helpusgiambattistaregular';
    src: url('../fonts/helpusgiambattista-webfont.woff2') format('woff2'),
         url('../fonts/helpusgiambattista-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'truenosemibold';
    src: url('../fonts/truenosbd-webfont.woff2') format('woff2'),
         url('../fonts/truenosbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'flow_extbold';
    src: url('../fonts/flow_b-webfont.woff2') format('woff2'),
         url('../fonts/flow_b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'flow_extregular';
    src: url('flow-ext.regular-webfont.woff2') format('woff2'),
         url('flow-ext.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'caveatbold';
    src: url('../fonts/caveat-bold-webfont.woff2') format('woff2'),
         url('../fonts/caveat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'caveatregular';
    src: url('../fonts/caveat-regular-webfont.woff2') format('woff2'),
         url('../fonts/caveat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'devonshireregular';
    src: url('../fonts/devonshire-regular-webfont.woff2') format('woff2'),
         url('../fonts/devonshire-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'vidaloka_regular';
    src: url('../fonts/vidaloka-regular-webfont.woff2') format('woff2'),
         url('../fonts/vidaloka-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'dancing_scriptregular';
    src: url('../fonts/dancingscript-variablefont-webfont.woff2') format('woff2'),
         url('../fonts/dancingscript-variablefont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}