///footer 

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: $green;

    .footer-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .style-text-footer {
        color: $yellow;
        font-size: 1em;
    }

}
   