* {
    padding: 0;
    margin: 0;
}

/// Body

body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
}

/// mise forme texte 

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    letter-spacing: -0.1em;
    color: $yellow;
}

h2 {
    @include flexMid;
    font-size: 2.5em;
    }

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

/// contenu general

.icone-music{
    font-size: 2em;
    background: -webkit-gradient(linear, left bottom, right top, from(#f04a5e), to(#f78f6a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.style-titre-enchantee {
    font-family: 'devonshireregular';
    color: $brown;
}

.style-titre-chic {
    @include titre-chic;
}

.style-titre-delice {
    @include titre-delice;
}

.style-palette-gout {
    @include degradé-vert;
    font-family: 'kaushan_scriptregular';
}

.titre-menu-enchante{
    font-family: 'flow_extbold';
    color: $brown;
}

.titre-menu-chic {
    font-family: 'vidaloka_regular';
    color: #c77412;
}

.titre-menu-delice {
    font-family: 'caveatbold';
    color: #0887fb;
}

.titre-menu-palette {
    font-family: 'caveatbold';
    color: #bfff7e;
}

.container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: space-around;
        

    .menu{
        @include flexMid;
        width: 40%;
        height: 700px;
        box-shadow: 0 0 0.5em grey;
        flex-direction: column;
        margin: 40px;
    }
    
    .menu-note-enchantee {
        @include restau-animation;
        background: #fcdfdb;
    }

    .menu-chic-francaise {
        @include restau-animation;
        background: #fff5fe;
    }

    .menu-delice-papilles {
        @include restau-animation;
        background: #f9f9f9;
    }

    .menu-palette-gout {
        @include restau-animation;
        background: #fdfffd;
    }

}

/// button


.prochainement-container{
    @include flexMid;
    margin-bottom: 100px;

    .button-styled {
        @include flexMid;
        justify-content: space-around;
        margin: 40px;
        width: auto;
        border: 0;
        line-height: 1;
        padding: 10px 20px;
        font-size: 1.6em;
        text-align: center;
        color: $yellow;
        text-shadow: 0.05px 0.05px 0.05px #000;
        border-radius: 10px;
        background-color: $green;
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6);
            
        .styled:hover {
            background-color: $yellow;
        }
            
    }
}