* {
    padding: 0;
    margin: 0;
}

/// Body

body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
}

/// mise forme texte 

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    letter-spacing: -0.1em;
    color: $yellow;
}

h2 {
    text-align: center;
    font-size: 2em;
    }

h3 {
    font-size: 1.8em;
    text-align: center;
}

h4 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    }

a:visited {
    text-decoration: none;
    color: inherit;
    }

/// contenu general

.icone-music{
    font-size: 2em;
    background: -webkit-gradient(linear, left bottom, right top, from(#f04a5e), to(#f78f6a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.style-titre-enchantee {
    font-family: 'devonshireregular';
    color: $brown;
}

.style-titre-chic {
    @include titre-chic;
}

.style-titre-delice {
    @include titre-delice;
}

.style-palette-gout {
    @include degradé-vert;
    font-family: 'kaushan_scriptregular';
}

.titre-menu-enchante{
    font-family: 'flow_extbold';
    color: $brown;
}

.titre-menu-chic {
    font-family: 'vidaloka_regular';
    color: #c77412;
}

.titre-menu-delice {
    font-family: 'caveatbold';
    color: #0887fb;
}

.titre-menu-palette {
    font-family: 'caveatbold';
    color: #bfff7e;
}

.container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        

    .menu{
        @include flexMid;
        width: 40%;
        height: 600px;
        box-shadow: 0 0 0.5em grey;
        flex-direction: column;
        margin: 40px;
    }
    
    .menu-note-enchantee {
        background: #fcdfdb;
    }

    .menu-chic-francaise {
        background: #fff5fe;
    }

    .menu-delice-papilles {
        background: #f9f9f9;
    }

    .menu-palette-gout {
        background: #fdfffd;
    }

}


