@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;   
}

@mixin rectangle-menu {
    display: flex;
    justify-content: space-around; 
}

@mixin restau-animation {
    cursor: pointer;
    transform: scale(1);
    transition: transform 600ms;
    &:hover {
        transform: scale(1.15);
    }
}

@mixin tarifs {
    font-size: 1em;
    text-align: right;
}

@mixin dishes {
    font-size: 1.2em;
    text-align: left;
}

@mixin grid-card {
    display: grid;
    flex-wrap: wrap;  
}

@mixin degradé-bleu {
    background: -webkit-gradient(linear, left top, left bottom, from(#0431df), to(#0887fb));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin degradé-vert {
    background: -webkit-gradient(linear, left top, left bottom, from(#42973c), to(#bfff7e));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

@mixin titre-chic {
    font-family: 'helpusgiambattistaregular';
    background: -webkit-gradient(linear, left top, left bottom, from(#d8852e), to(#905bfd));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin dishes-names-chic {
    font-family: 'Roboto Light';
    font-size: 1em;
    line-height: 2em;
}