@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;   
}

@mixin rectangle-menu {
    display: flex;
    justify-content: space-around; 
}

@mixin restau-animation {
    cursor: pointer;
    transform: scale(1);
    transition: transform 600ms;
    &:hover {
        transform: scale(1.15);
    }
}