@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;   
}

@mixin rectangle-menu {
    display: flex;
    justify-content: space-around; 
}

@mixin restau-animation {
    cursor: pointer;
    transform: scale(1);
    transition: transform 600ms;
    &:hover {
        transform: scale(1.15);
    }
}

@mixin tarifs {
    font-size: 1em;
    text-align: right;
}

@mixin dishes {
    font-size: 1.2em;
    text-align: left;
}

@mixin grid-card {
    display: grid;
    flex-wrap: wrap;  
}