$green: #579c87;
$yellow: #fdcb46;
$brown: #3d1319;
$orange-chic: #c77412;
$mauve-chic: #a56799;
$violet-chic: #6e4ccc;
$bleu-electrique-delice:#0228dd;
$bleu-ocean-delice: #0670f3;
$bleu-clair-delice: #229df9;