@charset "UTF-8";
/**
 font-family: 'helpusgiambattistaregular'; - TITRE CARTE CHIC 
 font-family: 'flow_extbold' et  'flow_extregular' - TITRE CARTE NOTE ENCHANTE
 font-family: 'vidaloka_regular' - TITRE CARTE CHIC
 font-family: 'kaushan_scriptregular'; - TITRE CARTE PALETTE
 font-family: 'caveatbold' - MENU DELICE & PALETTE
 */
@font-face {
  font-family: "helpusgiambattistaregular";
  src: url("../fonts/helpusgiambattista-webfont.woff2") format("woff2"), url("../fonts/helpusgiambattista-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "truenosemibold";
  src: url("../fonts/truenosbd-webfont.woff2") format("woff2"), url("../fonts/truenosbd-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flow_extbold";
  src: url("../fonts/flow_b-webfont.woff2") format("woff2"), url("../fonts/flow_b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flow_extregular";
  src: url("flow-ext.regular-webfont.woff2") format("woff2"), url("flow-ext.regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveatbold";
  src: url("../fonts/caveat-bold-webfont.woff2") format("woff2"), url("../fonts/caveat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveatregular";
  src: url("../fonts/caveat-regular-webfont.woff2") format("woff2"), url("../fonts/caveat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("../fonts/kaushanscript-regular-webfont.woff2") format("woff2"), url("../fonts/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "devonshireregular";
  src: url("../fonts/devonshire-regular-webfont.woff2") format("woff2"), url("../fonts/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vidaloka_regular";
  src: url("../fonts/vidaloka-regular-webfont.woff2") format("woff2"), url("../fonts/vidaloka-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dancing_scriptregular";
  src: url("../fonts/dancingscript-variablefont-webfont.woff2") format("woff2"), url("../fonts/dancingscript-variablefont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans light";
  src: url("OpenSans-Light.woff2") format("woff2"), url("OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans regular";
  src: url("OpenSans-Regular.woff2") format("woff2"), url("OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: url("RobotoSlab-Light.ttf") format("ttf");
  font-style: normal;
  font-display: normal;
}
@font-face {
  font-family: "Roboto bold";
  src: url("RobotoSlab-Bold.ttf") format("ttf");
  font-style: normal;
  font-display: normal;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background: #579c87;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  letter-spacing: -0.1em;
  color: #fdcb46;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

.icone-music {
  font-size: 2em;
  background: -webkit-gradient(linear, left bottom, right top, from(#f04a5e), to(#f78f6a));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.style-titre-enchantee {
  font-family: "devonshireregular";
  color: #3d1319;
}

.style-titre-chic {
  font-family: "helpusgiambattistaregular";
  background: -webkit-gradient(linear, left top, left bottom, from(#d8852e), to(#905bfd));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.style-titre-delice {
  font-family: "dancing_scriptregular";
  background: -webkit-gradient(linear, left top, left bottom, from(#0431df), to(#0887fb));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.style-palette-gout {
  background: -webkit-gradient(linear, left top, left bottom, from(#42973c), to(#bfff7e));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "kaushan_scriptregular";
}

.titre-menu-enchante {
  font-family: "flow_extbold";
  color: #3d1319;
}

.titre-menu-chic {
  font-family: "vidaloka_regular";
  color: #c77412;
}

.titre-menu-delice {
  font-family: "caveatbold";
  color: #0887fb;
}

.titre-menu-palette {
  font-family: "caveatbold";
  color: #bfff7e;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
}
.container .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 700px;
  box-shadow: 0 0 0.5em grey;
  flex-direction: column;
  margin: 40px;
}
.container .menu-note-enchantee {
  cursor: pointer;
  transform: scale(1);
  transition: transform 600ms;
  background: #fcdfdb;
}
.container .menu-note-enchantee:hover {
  transform: scale(1.15);
}
.container .menu-chic-francaise {
  cursor: pointer;
  transform: scale(1);
  transition: transform 600ms;
  background: #fff5fe;
}
.container .menu-chic-francaise:hover {
  transform: scale(1.15);
}
.container .menu-delice-papilles {
  cursor: pointer;
  transform: scale(1);
  transition: transform 600ms;
  background: #f9f9f9;
}
.container .menu-delice-papilles:hover {
  transform: scale(1.15);
}
.container .menu-palette-gout {
  cursor: pointer;
  transform: scale(1);
  transition: transform 600ms;
  background: #fdfffd;
}
.container .menu-palette-gout:hover {
  transform: scale(1.15);
}

.prochainement-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.prochainement-container .button-styled {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
  width: auto;
  border: 0;
  line-height: 1;
  padding: 10px 20px;
  font-size: 1.6em;
  text-align: center;
  color: #fdcb46;
  text-shadow: 0.05px 0.05px 0.05px #000;
  border-radius: 10px;
  background-color: #579c87;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6);
}
.prochainement-container .button-styled .styled:hover {
  background-color: #fdcb46;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #579c87;
}
.footer .footer-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.footer .style-text-footer {
  font-style: bold;
  color: #fdcb46;
  font-size: 1em;
}

/* Page 1 : general 
*/
.container-details-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.container-details-menu .details-menu {
  width: 60%;
  height: 100%;
  margin: 0;
  box-shadow: 0 0 0.5em grey;
}

/* Background cards */
.background-menu-enchantee {
  background: #fcdfdb;
}

.background-menu-chic {
  background: #fff5fe;
}

.background-menu-delice {
  background: #f9f9f9;
}

/* nom du restau - titre de la carte */
.titre-carte {
  font-size: 1.5em;
}

.icone-titre {
  font-size: 2em;
  padding-top: 30px;
}

/*  details des menus de la carte  */
.grid-menu {
  display: grid;
  flex-wrap: wrap;
  padding-left: 60px;
  padding-right: 60px;
}

.grid-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  flex-wrap: wrap;
  text-align: center;
  grid-template-columns: 40% 20% 40%;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card {
  display: flex;
  justify-content: space-between;
}

.grid-menu-dessert {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 100%;
  padding-left: 60px;
  padding-right: 60px;
}

.style-trait-menu-enchanté {
  fill: #3d1319;
}

.titre-restau-carte {
  font-size: 1.8em;
  padding-top: 40px;
  padding-bottom: 20px;
}

.titre-carte {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  flex-direction: column;
}

.titre-carte-note-enchante {
  font-family: "devonshireregular";
  color: #3d1319;
  font-size: 2em;
}

.entree-plat-dessert-la-note {
  fill: #3d1319;
}

.tarifs-plats-note-enchantee {
  font-size: 1em;
  text-align: right;
  font-family: "flow_extbold";
}

.dishes-names-note-enchantee {
  font-size: 1.2em;
  text-align: left;
  font-family: "caveatregular";
}

.end-carte {
  padding-bottom: 50px;
}

.trait-menu-note {
  fill: #3d1319;
}

.icone-music-end {
  font-size: 1.5em;
  padding-right: 20px;
}

.end-note-enchante {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.style-titre-carte-chic {
  font-family: "helpusgiambattistaregular";
  background: -webkit-gradient(linear, left top, left bottom, from(#d8852e), to(#905bfd));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
  padding-bottom: 10px;
}

.style-titre-carte-delice {
  font-family: "dancing_scriptregular";
  background: -webkit-gradient(linear, left top, left bottom, from(#0431df), to(#0887fb));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
  padding-bottom: 10px;
}

.entrance-title-chic {
  font-family: "Roboto bold";
  font-size: 1em;
  color: #c77412;
}

.main-title-chic {
  font-family: "Roboto bold";
  font-size: 1em;
  color: #6e4ccc;
}

.dessert-title-chic {
  font-family: "Roboto bold";
  font-size: 1em;
  color: #c77412;
}

.dishes-name-chic-entrance {
  font-family: "Roboto Light";
  font-size: 1em;
  line-height: 2em;
  color: #c77412;
}

.dishes-name-chic-main {
  font-family: "Roboto Light";
  font-size: 1em;
  line-height: 2em;
  color: #a56799;
}

.dishes-name-chic-dessert {
  font-family: "Roboto Light";
  font-size: 1em;
  line-height: 2em;
  color: #6e4ccc;
}

.end-card-chic {
  padding-bottom: 50px;
}

.trait-menu-chic-entrance {
  fill: #c77412;
}

.trait-menu-chic-main {
  fill: #a56799;
}

.trait-menu-chic-dessert {
  fill: #6e4ccc;
}

.trait-effet-mirror {
  transform: scale(-1, 1);
}

.trait-menu-delice-entrance {
  fill: #0228dd;
}

.trait-menu-delice-main {
  fill: #0670f3;
}

.trait-menu-delice-dessert {
  fill: #229df9;
}

.dishes-title-delice {
  font-family: "caveatregular";
  font-size: 1.6em;
}

.dishes-name-delice {
  font-family: "caveatregular";
  font-size: 1em;
  line-height: 2em;
}

/*# sourceMappingURL=style.css.map */
