@charset "UTF-8";
/**
 font-family: 'helpusgiambattistaregular';
 */
@font-face {
  font-family: "helpusgiambattistaregular";
  src: url("../fonts/helpusgiambattista-webfont.woff2") format("woff2"), url("../fonts/helpusgiambattista-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "truenosemibold";
  src: url("../fonts/truenosbd-webfont.woff2") format("woff2"), url("../fonts/truenosbd-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flow_extbold";
  src: url("../fonts/flow_b-webfont.woff2") format("woff2"), url("../fonts/flow_b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveatbold";
  src: url("../fonts/caveat-bold-webfont.woff2") format("woff2"), url("../fonts/caveat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveatregular";
  src: url("../fonts/caveat-regular-webfont.woff2") format("woff2"), url("../fonts/caveat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("../fonts/kaushanscript-regular-webfont.woff2") format("woff2"), url("../fonts/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "devonshireregular";
  src: url("../fonts/devonshire-regular-webfont.woff2") format("woff2"), url("../fonts/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vidaloka_regular";
  src: url("../fonts/vidaloka-regular-webfont.woff2") format("woff2"), url("../fonts/vidaloka-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dancing_scriptregular";
  src: url("../fonts/dancingscript-variablefont-webfont.woff2") format("woff2"), url("../fonts/dancingscript-variablefont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background: #579c87;
}

body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  letter-spacing: -0.1em;
  color: #fdcb46;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

.icone-music {
  font-size: 2em;
  background: -webkit-gradient(linear, left bottom, right top, from(#f04a5e), to(#f78f6a));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.style-titre-enchantee {
  font-family: "devonshireregular";
}

.style-titre-chic {
  font-family: "helpusgiambattistaregular";
}

.style-titre-delice {
  font-family: "dancing_scriptregular";
}

.style-palette-gout {
  font-family: "kaushan_scriptregular";
}

.titre-menu-enchante {
  font-family: "flow_extbold";
}

.titre-menu-chic {
  font-family: "vidaloka_regular";
}

.titre-menu-delice {
  font-family: "caveatbold";
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
}
.container .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 700px;
  box-shadow: 0 0 0.5em grey;
  flex-direction: column;
  margin: 40px;
}
.container .menu-note-enchantee {
  cursor: pointer;
  transform: scale(1);
  transition: transform 600ms;
  background: #fcdfdb;
}
.container .menu-note-enchantee:hover {
  transform: scale(1.15);
}
.container .menu-chic-francaise {
  cursor: pointer;
  transform: scale(1);
  transition: transform 600ms;
  background: #fff5fe;
}
.container .menu-chic-francaise:hover {
  transform: scale(1.15);
}
.container .menu-delice-papilles {
  cursor: pointer;
  transform: scale(1);
  transition: transform 600ms;
  background: #f9f9f9;
}
.container .menu-delice-papilles:hover {
  transform: scale(1.15);
}
.container .menu-palette-gout {
  cursor: pointer;
  transform: scale(1);
  transition: transform 600ms;
  background: #fdfffd;
}
.container .menu-palette-gout:hover {
  transform: scale(1.15);
}

.prochainement-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.prochainement-container .button-styled {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
  width: auto;
  border: 0;
  line-height: 1;
  padding: 10px 20px;
  font-size: 1.6em;
  text-align: center;
  color: #fdcb46;
  text-shadow: 0.05px 0.05px 0.05px #000;
  border-radius: 10px;
  background-color: #579c87;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6);
}
.prochainement-container .button-styled .styled:hover {
  background-color: #fdcb46;
}

/* Page 1 : details du menu enchanté
*/
.container-details-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}
.container-details-menu .details-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 700px;
  margin: 0;
  box-shadow: 0 0 0.5em grey;
}
.container-details-menu .list-menu-note-echantee {
  background: #fcdfdb;
}

.titre-plat {
  display: inline-flex;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #579c87;
}
.footer .footer-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.footer .style-text-footer {
  font-style: bold;
  color: #fdcb46;
  font-size: 1em;
}

/*# sourceMappingURL=style.css.map */
