@charset "UTF-8";
/**
 font-family: 'helpusgiambattistaregular'; - TITRE CARTE CHIC 
 font-family: 'flow_extbold' et  'flow_extregular' - TITRE CARTE NOTE ENCHANTE
 font-family: 'vidaloka_regular' - TITRE CARTE CHIC
 font-family: 'kaushan_scriptregular'; - TITRE CARTE PALETTE
 font-family: 'caveatbold' - MENU DELICE & PALETTE
 */
@font-face {
  font-family: "helpusgiambattistaregular";
  src: url("../fonts/helpusgiambattista-webfont.woff2") format("woff2"), url("../fonts/helpusgiambattista-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "truenosemibold";
  src: url("../fonts/truenosbd-webfont.woff2") format("woff2"), url("../fonts/truenosbd-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flow_extbold";
  src: url("../fonts/flow_b-webfont.woff2") format("woff2"), url("../fonts/flow_b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flow_extregular";
  src: url("flow-ext.regular-webfont.woff2") format("woff2"), url("flow-ext.regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveatbold";
  src: url("../fonts/caveat-bold-webfont.woff2") format("woff2"), url("../fonts/caveat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveatregular";
  src: url("../fonts/caveat-regular-webfont.woff2") format("woff2"), url("../fonts/caveat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("../fonts/kaushanscript-regular-webfont.woff2") format("woff2"), url("../fonts/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "devonshireregular";
  src: url("../fonts/devonshire-regular-webfont.woff2") format("woff2"), url("../fonts/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vidaloka_regular";
  src: url("../fonts/vidaloka-regular-webfont.woff2") format("woff2"), url("../fonts/vidaloka-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dancing_scriptregular";
  src: url("../fonts/dancingscript-variablefont-webfont.woff2") format("woff2"), url("../fonts/dancingscript-variablefont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans light";
  src: url("OpenSans-Light.woff2") format("woff2"), url("OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans regular";
  src: url("OpenSans-Regular.woff2") format("woff2"), url("OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: url("RobotoSlab-Light.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto bold";
  src: url("RobotoSlab-Bold.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background: #579c87;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  letter-spacing: -0.1em;
  color: #fdcb46;
}

h2 {
  text-align: center;
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
  text-align: center;
}

h4 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.icone-music {
  font-size: 2em;
  background: -webkit-gradient(linear, left bottom, right top, from(#f04a5e), to(#f78f6a));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.style-titre-enchantee {
  font-family: "devonshireregular";
  color: #3d1319;
}

.style-titre-chic {
  font-family: "helpusgiambattistaregular";
  background: -webkit-gradient(linear, left top, left bottom, from(#d8852e), to(#905bfd));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.style-titre-delice {
  font-family: "dancing_scriptregular";
  background: -webkit-gradient(linear, left top, left bottom, from(#0431df), to(#0887fb));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.style-palette-gout {
  background: -webkit-gradient(linear, left top, left bottom, from(#42973c), to(#bfff7e));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "kaushan_scriptregular";
}

.titre-menu-enchante {
  font-family: "flow_extbold";
  color: #3d1319;
}

.titre-menu-chic {
  font-family: "vidaloka_regular";
  color: #c77412;
}

.titre-menu-delice {
  font-family: "caveatbold";
  color: #0887fb;
}

.titre-menu-palette {
  font-family: "caveatbold";
  color: #bfff7e;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 600px;
  box-shadow: 0 0 0.5em grey;
  flex-direction: column;
  margin: 40px;
}
.container .menu-note-enchantee {
  background: #fcdfdb;
}
.container .menu-chic-francaise {
  background: #fff5fe;
}
.container .menu-delice-papilles {
  background: #f9f9f9;
}
.container .menu-palette-gout {
  background: #fdfffd;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #579c87;
}
.footer .footer-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.footer .style-text-footer {
  color: #fdcb46;
  font-size: 1em;
}

/* Page 1 : general */
.container-details-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.container-details-menu .details-menu {
  width: 60%;
  height: 100%;
  margin: 0;
  box-shadow: 0 0 0.5em grey;
}

/* Background cards */
.background-menu-enchantee {
  background: #fcdfdb;
}

.background-menu-chic {
  background: #fff5fe;
}

.background-menu-delice {
  background: #f9f9f9;
}

.background-menu-palette {
  background: #fdfffd;
}

/* nom du restau - titre de la carte */
.titre-carte {
  font-size: 1.5em;
}

.icone-titre {
  font-size: 2em;
  padding-top: 30px;
}

/*  details des menus de la carte  */
.grid-menu {
  display: grid;
  flex-wrap: wrap;
  padding-left: 60px;
  padding-right: 60px;
}

.grid-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  flex-wrap: wrap;
  text-align: center;
  grid-template-columns: 40% 20% 40%;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card {
  display: flex;
  justify-content: space-between;
}

.grid-menu-dessert {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 100%;
  padding-left: 60px;
  padding-right: 60px;
}

.style-trait-menu-enchante {
  fill: #3d1319;
}

.titre-restau-carte {
  font-size: 1.8em;
  padding-top: 40px;
  padding-bottom: 20px;
}

.titre-carte {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  flex-direction: column;
}

.titre-carte-note-enchante {
  font-family: "devonshireregular";
  color: #3d1319;
  font-size: 2em;
}

.entree-plat-dessert-la-note {
  fill: #3d1319;
}

.tarifs-plats-note-enchantee {
  font-size: 1em;
  text-align: right;
  font-family: "flow_extbold";
}

.titre-plats-enchante {
  font-family: "flow_extbold";
  color: #3d1319;
  position: relative;
}
.titre-plats-enchante::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: #3d1319;
  transition: transform 250ms;
}
.titre-plats-enchante:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.dishes-names-note-enchantee {
  font-size: 1.2em;
  text-align: left;
  font-family: "caveatregular";
}

.end-carte {
  padding-bottom: 50px;
}

.trait-menu-note {
  fill: #3d1319;
}

.icone-music-end {
  font-size: 1.5em;
  padding-right: 20px;
}

.end-note-enchante {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.style-titre-carte-chic {
  font-family: "helpusgiambattistaregular";
  background: -webkit-gradient(linear, left top, left bottom, from(#d8852e), to(#905bfd));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
  padding-bottom: 10px;
}

.style-titre-carte-delice {
  font-family: "dancing_scriptregular";
  background: -webkit-gradient(linear, left top, left bottom, from(#0431df), to(#0887fb));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.entrance-title-chic {
  font-family: "Roboto bold";
  font-size: 1em;
  color: #c77412;
  position: relative;
}
.entrance-title-chic::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: #c77412;
  transition: transform 250ms;
}
.entrance-title-chic:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.main-title-chic {
  font-family: "Roboto bold";
  font-size: 1em;
  color: #a56799;
  position: relative;
}
.main-title-chic::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: #a56799;
  transition: transform 250ms;
}
.main-title-chic:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.dessert-title-chic {
  font-family: "Roboto bold";
  font-size: 1em;
  color: #6e4ccc;
  position: relative;
}
.dessert-title-chic::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: #6e4ccc;
  transition: transform 250ms;
}
.dessert-title-chic:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.dishes-name-chic-entrance {
  font-family: "Roboto Light";
  font-size: 1em;
  line-height: 2em;
  color: #c77412;
}

.dishes-name-chic-main {
  font-family: "Roboto Light";
  font-size: 1em;
  line-height: 2em;
  color: #a56799;
}

.dishes-name-chic-dessert {
  font-family: "Roboto Light";
  font-size: 1em;
  line-height: 2em;
  color: #6e4ccc;
}

.end-card-chic {
  padding-bottom: 50px;
}

.trait-menu-chic-entrance {
  fill: #c77412;
}

.trait-menu-chic-main {
  fill: #a56799;
}

.trait-menu-chic-dessert {
  fill: #6e4ccc;
}

.trait-effet-mirror {
  transform: scale(-1, 1);
}

.trait-menu-delice-entrance {
  fill: #0228dd;
}

.trait-menu-delice-main {
  fill: #0670f3;
}

.trait-menu-delice-dessert {
  fill: #229df9;
}

.dishes-title-delice {
  font-family: "caveatregular";
  font-size: 1.6em;
  position: relative;
}
.dishes-title-delice::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: transform 250ms;
}
.dishes-title-delice:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.dishes-name-delice {
  font-family: "caveatregular";
  font-size: 1.2em;
  line-height: 2em;
}

.trait-menu-palette {
  fill: #c77412;
}

.degrade-palette {
  fill: url(linearGradient.svg#degrade);
}

svg.trait-palette stop:nth-child(1) {
  stop-color: #42973c;
}

svg.trait-palette stop:nth-child(2) {
  stop-color: #bfff7e;
}

.style-titre-carte-palette {
  background: -webkit-gradient(linear, left top, left bottom, from(#42973c), to(#bfff7e));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "kaushan_scriptregular";
  padding-top: 30px;
  padding-bottom: 10px;
}

.dishes-title-palette {
  font-family: "caveatregular";
  font-size: 1.6em;
  position: relative;
}
.dishes-title-palette::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: transform 250ms;
}
.dishes-title-palette:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.dishes-name-palette {
  font-family: "caveatregular";
  font-size: 1.2em;
  line-height: 2em;
}

.mentions-legales {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
}

.titre-ml {
  padding-top: 20px;
}

.date-ml {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
  padding-bottom: 40px;
}

.intro-ml {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: justify;
  font-style: italic;
  padding-bottom: 20px;
}

.titre-article-ml {
  font-size: 1.2em;
}

.text-mentions-legales {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: justify;
  padding-bottom: 20px;
}

.zoom-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.zoom-text:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* Opacité */
.opacity {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.opacity:hover {
  opacity: 0.5;
}

.loading span {
  width: 15px;
  height: 15px;
  margin: 0 2px;
  background: #fdcb46;
  border-radius: 50%;
  display: inline-block;
  animation-name: jumpingDots;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loading span:nth-child(2) {
  animation-delay: 0.4s;
}

.loading span:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes jumpingDots {
  20% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
.prochainement-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.prochainement-container .button-styled {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
  width: auto;
  border: 0;
  line-height: 1;
  padding: 10px 20px;
  font-size: 1.4em;
  text-align: center;
  color: #fdcb46;
  text-shadow: 0.05px 0.05px 0.05px #000;
  border-radius: 10px;
  background-color: #579c87;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6);
}
.prochainement-container .dot {
  display: none;
}
.prochainement-container .button-styled:hover .prochainement {
  display: none;
}
.prochainement-container .button-styled:hover .dot {
  display: block;
}

@media (max-width: 1024px) {
  /* La Note enchantée */
  .container-details-menu {
    margin-bottom: 80px;
  }
  .container-details-menu .details-menu {
    width: 80%;
  }

  /*le Délice des papilles*/
  .style-titre-carte-delice {
    font-size: 2em;
  }
}
@media (max-width: 768px) {
  /* General : HP */
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 0.8em;
  }

  .header {
    height: 100px;
  }

  .container .menu {
    width: 40%;
    height: 400px;
    margin: 30px;
  }

  /* La Note enchantée */
  .titre-restau-carte {
    font-size: 1.3em;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .titre-carte {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .grid-menu {
    display: grid;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
  }

  .dishes-names-note-enchantee {
    font-size: 1em;
    text-align: left;
    font-family: "caveatregular";
  }

  .end-note-enchante {
    margin: 20px;
  }

  .grid-tittle {
    grid-template-columns: 30% 40% 30%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .grid-menu-dessert {
    grid-template-columns: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  /* La palette des goûts */
  .dishes-name-palette {
    font-size: 1em;
    line-height: 1.5em;
  }

  .style-titre-carte-palette {
    padding-top: 20px;
  }

  /*carte chic a la française*/
  .style-titre-carte-chic {
    font-size: 1em;
    padding-top: 20px;
  }

  /*le Délice des papilles*/
  .dishes-title-delice {
    font-size: 1.2em;
  }

  .dishes-name-delice {
    font-size: 1em;
    line-height: 1.5em;
  }
}
@media (max-width: 500px) {
  /* General : HP */
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 0.8em;
  }

  .header {
    height: 80px;
  }

  .container .menu {
    width: 60%;
    height: 300px;
    margin: 20px;
  }

  .prochainement-container {
    margin-bottom: 80px;
  }
  .prochainement-container .button-styled {
    margin: 20px;
    line-height: 1;
    padding: 8px 15px;
    font-size: 0.8em;
  }

  /* La Note enchantée */
  .titre-restau-carte {
    font-size: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .titre-carte {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .dishes-names-note-enchantee {
    font-size: 0.8em;
    text-align: left;
    font-family: "caveatregular";
    padding-right: 10px;
  }

  .grid-menu {
    padding-left: 20px;
    padding-right: 20px;
  }

  .tarifs-plats-note-enchantee {
    font-size: 0.8em;
  }

  .icone-music-end {
    font-size: 1em;
    padding-right: 20px;
  }

  .icone-titre {
    font-size: 1.2em;
    padding-top: 20px;
  }

  .end-note-enchante {
    margin: 20px;
  }

  .grid-tittle {
    grid-template-columns: 30% 40% 30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .grid-menu-dessert {
    grid-template-columns: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer {
    height: 40px;
  }
  .footer .footer-text {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer .style-text-footer {
    font-size: 0.8em;
  }

  /*La Palette des gouts*/
  .dishes-name-palette {
    font-size: 1em;
    line-height: 1.5em;
    padding-right: 20px;
  }

  .dishes-title-palette {
    font-size: 1.2em;
  }

  /*Le Chic a La française*/
  .dishes-name-chic-entrance {
    font-size: 0.8em;
  }

  .dishes-name-chic-main {
    font-size: 0.8em;
  }

  .dishes-name-chic-dessert {
    font-size: 0.8em;
  }
}
@media (max-width: 320px) {
  /* General : HP */
  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.8em;
  }

  h4 {
    font-size: 0.7em;
  }

  .header {
    height: 80px;
  }

  .container .menu {
    height: 200px;
    margin: 20px;
  }

  .prochainement-container .button-styled {
    margin: 10px;
  }

  /* La Note enchantée */
  .container-details-menu {
    margin-bottom: 60px;
  }
  .container-details-menu .details-menu {
    width: 80%;
  }

  /*Chic a la Francaise*/
  .dessert-title-chic {
    font-size: 1em;
    text-align: center;
  }

  /*le Délice des papilles*/
  .style-titre-carte-delice {
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
